
# terraform
terraform/aws/eks/.terraform/
terraform/aws/eks/terraform.tfstate.backup
terraform/aws/eks/terraform.tfstate
terraform/aws/eks/config.consul.tfbackend

terraform/aws/eks/.eks-cluster.tf.swp

terraform/aws/s3/terraform.tfstate.*.backup

.gitignore.swp
terraform/aws/s3/.terraform.lock.hcl
terraform/aws/s3/.terraform/*

terraform/aws/eks/.terraform.lock.hcl
